<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://unpkg.com/vue"></script>
    
</head>
<body>
    <div class="chapter">Форма регистрации пользователя</div>
    <div style="text-align: center;"><span class="sight"> *</span>Поле обязательное для заполнения.</div>
    
    <form id="app" @submit="checkForm" onsubmit="" action="https://vanya-rgb.github.io/github.io/customer_creation_form/" method="">

        
        <!-- first_name -->
        <p>
            <label for="first_name">Имя<span class="sight"> *</span></label>
            <input 
                id="first_name"
                v-model="first_name"
                type="text"
                name="first_name"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z]/g,'')"
            >
        </p>

        <p>
            <label for="last_name">Фамилия<span class="sight"> *</span></label>
            <input
                id="last_name"
                v-model="last_name"
                type="text"
                name="last_name"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z]/g,'')"
            >
        </p>

        <p>
            <label for="patronymic">Отчесво</label>
            <input
            id="patronymic"
            type="text"
            name="patronymic"
            oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z]/g,'')"s
            >
        </p>

        <p>
            <label for="birthday_date">Дата рождения<span class="sight"> *</span></label>
            <input
            id="birthday_date"
            v-model="birthday_date"
            type="date"
            name="birthday_date"
            >
        </p>

        <p>
            <label for="phone">Ваш номер<span class="sight"> *</span></label>
            <span>+7</span>
            <input
                    type="tel" 
                    v-model="phone"
                    v-phone
                    name="phone"
                    id="phone"
                    placeholder="(555) 555-5555"
                    autocomplete="tel"
                    size="14"
                    class="form-control"
                    pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}"
            />
        </p>

        <p>
            <label for="gender">Пол</label>
            <input type="radio" id="gender" name="gender" value="male" checked> мужской
            <input type="radio" name="gender" value="female"> женский
            
        </p>

        <p>
            <label for="castomer_type">Группа клиентов<span class="sight"> *</span></label>
            <select
                id="castomer_type"
                name="castomer_type"
                v-model="castomer_type"
                size="3"
                multiple
            >
                <option>VIP</option>
                <option>ОМС</option>
                <option>Проблемные</option>
            </select>
        </p>
            
        <p>
            <label for="therapist">Лечащий врач</label>
            <select
                id="therapist"
                name="therapist"
                v-model="therapist"
            >
                <option>Иванов</option>
                <option>Захаров</option>
                <option>Чернышева</option>
            </select>
        </p>

        <p>
            <input 
                type="checkbox" 
                id="outgoing_sms_bool" 
                v-model="outgoing_sms_bool">
                Не отправлять СМС сообщения
        </p>
        
        
        <div class="chapter">Адрес</div>
        <p>
            <label for="therapist">Индекс</label>
            <input 
                type="text" 
                id="index"
                placeholder="454080"
                oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                pattern="[0-9]{6}"
                maxlength="6"
            >

        </p>
        <p>
            <label for="country">Страна</label>
            <input 
                type="text" 
                id="country"
                list="countries"
                placeholder="Россия"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z]/g,'')">
                <datalist id="countries">
                    <option value="Россия" label="Россия">
                </datalist>
        </p>
        <p>
            <label for="region">Область</label>
            <input 
                type="text" 
                id="region"
                v-model="region"
                list="regions"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z ]/g,'')"
                placeholder="Челябинская область">
                <datalist id="regions">
                    <option value="Челябинская область">Челябинская область</option>
                    <option value="Свердловская область"></option>
                    <option value="Республика Адыгея"></option>
                </datalist>

        </p>
        <p>
            <label for="city">Город<span class="sight"> *</span></label>
            <input 
                type="text" 
                id="city"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z ]/g,'')"
                v-model="city">
        </p>
        <p>
            <label for="street">Улица</label>
            <input 
                type="text" 
                id="street"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z ]/g,'')"
            >
        </p>
        <p>
            <label for="building">Дом</label>
            <input 
                type="text" 
                id="building"
                oninput="this.value=this.value.replace(/[^0-9]/g,'')">
        </p>
        <div class="chapter">Документ удостоверяющий личность</div>
        <p>
            <label for="document_type">Тип документа<span class="sight"> *</span></label>
            <select
                id="document_type"
                name="document_type"
                v-model="document_type"
            >
                <option>Паспорт</option>
                <option>Свидетельство о рождении</option>
                <option>Вод.удостоверение</option>
            </select>
        </p>
        <p>
            <label for="documentSeries">Серия и номер</label>
            <input 
                name="documentSeries"
                type="text" 
                id="documentSeries"
                maxlength="4"
                oninput="this.value=this.value.replace(/[^0-9]/g,'')"
            >
            <input 
                name="documentNumber"
                type="text" 
                id="documentNumber"
                maxlength="6"
                size = "6"
                oninput="this.value=this.value.replace(/[^0-9]/g,'')"
            >
        </p>
        <p>
            <label for="issuedBy">Кем выдан</label>
            <input 
                type="text" 
                id="issuedBy"
                oninput="this.value=this.value.replace(/[^а-яА-Яa-zA-Z ]/g,'')"
                size = "35"
            >
        </p>
        <p>
            <label for="dateOfIssue">Дата выдачи<span class="sight"> *</span></label>
            <input
                id="dateOfIssue"
                v-model="dateOfIssue"
                type="date"
                name="dateOfIssue"
            >
        </p>
        <button type="submit" value="Отправить" class="sub_button">Отправить</button>

        <div id="error_list" v-if="errors.length">
            <b>Пожалуйста исправьте указанные ошибки:</b>
            <ul>
            <li v-for="error in errors">{{ error }}</li>
            </ul>
        </div>
        <div class="successfulRes">{{ successfulRes }}</div>
    </form>
    
</body>
<script src="app.js"></script>
</html>
