body {
  font-size: 15px;
  color: #333;
  font: 100% Helvetica, sans-serif;
  background: linear-gradient(#ffffff, #63e1e7);
  background-position: center;
  overflow: auto;
  background-size: cover;
  background-attachment: fixed;
}

label {float: left;}

input {
  border-style: none;
  border-radius: 5px;
  background: #cacaca;
  height: 25px;
  width: 150px;
  padding: 5px;
  font-size: 15px;
}

button {
    display: inline-block;
    padding: 1rem 2.3rem;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    border: white;
    border-radius: 5px;
    background: rgb(118 228 234);
}
 
#documentSeries, #documentNumber {
  width: 100px;
}

#document_type, #issuedBy {
  width: 250px;
}

input[type="checkbox"]  {
  width: 30px;
}

input[type="radio"]  {
  width: 30px;
}

form {
  margin: 10px auto;
  text-align: right;
  width: 430px;
  border: 2px solid rgb(255, 255, 255);
  padding: 25px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.sight {
  color: red;
}

.chapter {
 text-align: center;
 font-size: 20px;
 padding: 15px;
}

select {
  border-style: none;
  background: #cacaca;
  font-size: 15px;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  text-align: center;
}

#error_list {
  text-align: left;
  padding: 20px;
}